@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400&display=swap');

body, h1, h2, h3, h4, h5, h6, th, strong, b, .title, .menu a {
  font-family: 'Lora', Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 400 !important;
}

code, pre, pre code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 0.88em;
  font-weight: 400 !important;
}
